:root {
    --border: 0.3rem solid black;
    --circle: hsl(40, 100%, 53%);
    --color-light: white;
    --h1-size: 4rem;
    --h2-size: 3rem;
    --h3-size: 1.5rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}
header {
    display: flex;
    height: 2rem;
    justify-content: flex-end;
    flex-basis: 100%;
    padding: 3rem;
    border-bottom: var(--border);
    align-items: center;
}
#theme {
    width: 2rem;
    height: 2rem;
}
main {
    display: flex;
    border-top: var(--border);
    margin: 0.5rem 0 0;
    height: 100vh;
}
main section {
    width: 50%;
    display: flex;
    justify-content: center;
}
#b-right{
    border-right: var(--border);
    align-items: center;
    margin-right: 0.5rem;
}
figure {
    background-image: repeating-linear-gradient(rgb(249, 216, 114), var(--circle), grey);
    background-size: cover;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
figure h1 {
    color: var(--color-light);
    font-size: var(--h1-size);
}
button a {
    text-decoration: none;
}



body.light,
button.dark {
    background-color: white;
    color: black;
}
body.dark,
button.light {
    background-color: black;
    color: white;
}
button.light a {
    color: white;
}
button.dark a {
    color: black;
}
main.light,
header.light,
#footer.light,
article.light,
h3.light {
    border-color: black;
}
main.dark,
header.dark,
#footer.dark,
article.dark,
h3.dark {
    border-color: white;
}
